<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}

{% block head_block %}

    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.theme.min.css' %}" rel="stylesheet">
<style>
pre {white-space: pre;}
</style>
	<script type="text/javascript">
     DJANGO_STATIC_URL = '{{ STATIC_URL }}';
</script>

    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.slimscrollHorizontal.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/rot.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/dragscrollable.js' %}"></script>
    <script src="{% static 'js/howler.min.js' %}"></script>
        <script src="{% static 'js/game.js' %}"></script>
        <script src="{% static 'js/sounds.js' %}"></script>
        <script src="{% static 'js/element.js' %}"></script>
        <script src="{% static 'js/entity.js' %}"></script>
        <script src="{% static 'js/Room.js' %}"></script>
        <script src="{% static 'js/tiles.js' %}"></script>
        <script src="{% static 'js/Rooms.js' %}"></script>
        <script src="{% static 'js/Levels.js' %}"></script>
        <script src="{% static 'js/Map.js' %}"></script>
        <script src="{% static 'js/Offsets.js' %}"></script>
        <script src="{% static 'js/directions.js' %}"></script>
        <script src="{% static 'js/imageMap.js' %}"></script>
        <script src="{% static 'js/keys.js' %}"></script>
       
        
{% endblock %}

{% block body_block %}
<div id="tabs">
<ul>
<li><a href="#tabs-1"><span>Play</span></a></li>
<li><a href="#tabs-2"><span>Code</span></a></li>
<li><a href="#tabs-3"><span>Guide</span></a></li>
</ul>

<div id="tabs-1">

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
		<h3>Messages</h>
                  <div id="messages"  overflow="auto">
</div>
<h3>Status</h>
                            <div id="status"  overflow="auto">
                            </div>
          </div><!--/.well -->
        </div><!--/span-->
       <div class="span9" id="scrollArea" style=" overflow: hidden; ">

          
      <div class="hero-unit; viewport" id="gameArea" min-width="1280">


        			  </div>
<div class="row-fluid">
<h2>Your Code</h2>


                                      <textarea rows="15" style="width:90%" id="auxArea">
{{ theCode }}            
                        </textarea> 
          </div>
  			</div>

		</div>         
	</div>
</div>
<div id="tabs-2">



      <div class="hero-unit" >
<div class="row-fluid">
<h2>Get Coding!</h2>

</div>
                                      <textarea rows="15" style="width:90%" id ="inputArea">
{{ theCode }}            
                        </textarea> 
          </div>

<div class="row-fluid">
<h1>Code Blocks</h1><h3>(Mouse over for code info):</h3>
</div>

<div id="accordion">
<h3>"If" Statements</h3>
<div>

          <div class="row-fluid">
            <div class="span4">
              <h3>Look for Enemy</h3>
            
<pre title="-------------------------
What it does: 
-------------------------

The first line will make you ('this') look for enemies and 
record them in the variable 'enemies'. Then in the second line we check whether we've seen an enemy - if 'enemies' is longer than('>') 0. If it is, the code bewteen the braces is executed.Otherwise, we bypass the braced code. If you only want to look for a particular type of enemy, you can specify it by name between the brackets in 'this.lookForEnemies()'. But the spelling and case has to match exactly,
and the name has to be enclosed in speech (') marks.

For your convenience, in the line after the first brace I've recorded the first enemy seen ('enemies[0]') in the variable 'firstEnemy'.

-------------------------
How to Use it:
-------------------------
Use it to check if you can see an enemy! If you do, you should probably attack him. To do so, put a second line inside the braces where you use the 'goTo' instruction to advance on the selected 'firstEnemy'. Or for a ranged attack, use the 'shootArrowAt' auxiliary action.
">
var enemies = this.lookForEnemies();
if(enemies.length>0)
{
var firstEnemy = enemies[0];
}
</pre>
              <a class="btn" href="#">Paste me! </a>
            </div><!--/span-->
<div class="span4">

              <h3>Check if Level is Explored</h3>

            

<pre title="-------------------------
What it does: 
-------------------------

The first line of this command makes you ('this') check if you've explored all rooms in the current level. If so, the code inside the braces is executed; otherwise, it is bypassed

-------------------------
How to Use it:

-------------------------

Use it to check if you've seen all you can see in the current level. You don't want to leave a level prematurely, as it may contain items you need later. Put the code you want executed once you've finished exploring the current level inside the braces.
">
if(this.isLevelExplored())
{

}

</pre>

              <a class="btn" href="#">Paste me! </a>
            </div><!--/span-->
<div class="span4">
              <h3>Check if direction is free</h3>
            
<pre title="-------------------------
What it does: 
-------------------------

The first line of this command makes you ('this') check if the place adjacent to you in the specified direction (From the constants N,NW, NE,S,SW,SE,W,E in Game.directions) is free and can be moved to

-------------------------
How to Use it:
-------------------------

This is best used in conjunction with the main step action. Can be usefull for dodjing attacks. Also, you can cycle through the keys in Game.directions using a for loop. Check the guide to see how to do this. This way, you can check if any adjacent square is free in a few lines of code.
">if (this.canMove(/*Put direction here*/))
{

}

</pre>
              <a class="btn" href="#">Paste me! </a>
            </div><!--/span-->
          </div><!--/row-->
<div class="row-fluid">
           <div class="span4">
              <h3>Look for Items</h3>
            
<pre title="-------------------------
What it does: 
-------------------------

The first line will make you ('this') look for items and record them in the variable 'items'. Then in the second line we check whether we've seen an item - if 'items' is longer than('>') 0. If it is, the code bewteen the braces is executed. Otherwise, we bypass the braced code. If you only want to look for a particular type of item, you can specify it by name between the brackets in 'this.lookForItems()'. But the spelling and case has to match exactly, and the name has to be enclosed in speech (') marks.

For your convenience, in the line after the first brace I've recorded the first enemy seen ('items[0]') in the variable 'firstItem'.

-------------------------
How to Use it:
-------------------------
Use it to check if you can see an item! If you do, you should probably go to it and pick it up. To do so, put a second line inside the braces where you use the 'goTo' instruction to go to the selected 'firstItem'. You can check wether you have reached the item by checking the return value of 'goTo' is true, in which case you should attempt to pick the item up.

PS - Items you've already tried to pick up will be ignored by this code.
">
var items = this.lookForItems();
if(items.length>0)
{
var firstItem = items[0];
}

</pre>
              <a class="btn" href="#">Paste me! </a>
            </div><!--/span-->
            <div class="span4">

              <h3>Look out for strike</h3>

            

<pre title="-------------------------
What it does: 
-------------------------

The first line will make you ('this') check if your're about to be hit with a heavy strike. If so, the code within the braces is exececuted; otherwise, the code inside the braces is bypassed.

-------------------------
How to Use it:
-------------------------

If you use this, its a good idea to put dodging instructions inside the braces. If you're about to be hut, but you move places, the enemy will miss you.
">
var strikeCheck = this.watchForStrike();

if(strikeCheck)
{

}
</pre>

              <a class="btn" href="#">Paste me! </a>

            </div><!--/span-->
</div><!--/row-->
</div>
<h3>Main Actions</h3>
<div>
          <div class="row-fluid">
            <div class="span4">

              <h3>Step in Direction</h3>

            
<pre title="-------------------------
What it does: 
-------------------------

This statement will make you ('this.') step in a direction (From the constants N,NW,NE,S,SW,SE,W,E in Game.directions) which is placed in between the brackets and surrounded by quotes, e.g. 'N'.

-------------------------
How to Use it:
-------------------------

Use it to step in a particular direction. You probably want to make sure you can do so first, though.
">
this.step(/*Direction Goes Here*/)
</pre>
              <a class="btn" href="#">Paste me! </a>
            </div><!--/span-->
            <div class="span4">
              <h3>Explore Level</h3>
            

<pre title="-------------------------
What it does: 
-------------------------
This statement will make you ('this.') explore the Map by moving towards the center of the next unexplored room, if there is one. If this statement is executed and you have explored all rooms, you will waste your turn.

-------------------------
How to Use it:
-------------------------
Use it to move round about the level. You probably want to check whether its safe to explore first, though.
">
this.exploreMap();
</pre>
              <a class="btn" href="#">Paste me! </a>
            </div><!--/span-->
            <div class="span4">
              <h3>Go To Something</h3>
            
<pre title="-------------------------
What it does: 
-------------------------
This statement will make you ('this.') move to an object (item or enemy) you refer in between the braces in this statement. If you arrive at your destination, the variable 'arrived' will be assigned  to be true.

-------------------------
How to Use it:
-------------------------

Get a reference to an item or object by looking for them and assigning them to a variable using a var statement, then place that variable between the braces in the code. You wil then step towards it - if it is an enemy, you will eventually bump into and attack it. If is an item, you can check whether you are on top of it by checking if 'arrived' is true, in which case you can try to pick it up.
">
var arrived = this.goTo();
</pre>
              <a class="btn" href="#">Paste me! </a>
            </div><!--/span-->
          </div><!--/row-->
<div class="row-fluid">
            <div class="span4">
              <h3>Raise Shield</h3>
            
<pre title="-------------------------
What it does: 
-------------------------
This statement will make you ('this') raise your shield, weakening  incoming strikes, or bounce arrows back if you have a mithril shield.

-------------------------
How to Use it:
-------------------------

Usefull to use if archers are shooting at you and you have a mithril shield.
">
this.raiseShield();
</pre>
              <a class="btn" href="#">Paste me! </a>
            </div><!--/span-->
           <div class="span4">
              <h3>Descend Spotted Stairs</h3>
            
<pre title="-------------------------
What it does: 
-------------------------

The is code will make you ('this') go to the last set of stairs you seen and descend them once reached.

-------------------------
How to Use it:
-------------------------

Use it to go to the next level when you are ready.
">
this.descendSpottedStairs();
</pre>
              <a class="btn" href="#">Paste me! </a>
            </div><!--/span-->
          </div><!--/row-->
</div>
<h3>Auxiliary Actions</h3>
<div>

          <div class="row-fluid">
            <div class="span4">
              <h3>Pick up item</h3>
            
<pre title="-------------------------
What it does: 
-------------------------

This code will make you ('this') pick up an item you are standing on. In the case where the item is worse than what you're already carrying, it does nothing.

-------------------------
How to Use it:
-------------------------
Use it to pick up items! They can be quite useful..

Of course, you need to check if you are standing over an item first.
">
this.pickUp();
</pre>
              <a class="btn" href="#">Paste me! </a>
            </div><!--/span-->
<div class="span4">

              <h3>Shoot Arrow</h3>

            

<pre title="-------------------------
What it does: 
-------------------------

The first line of this command makes you ('this') shoot an arrow at an enemy specified by a variable between the brackets in the code.

-------------------------
How to Use it:
-------------------------

Use it to shoot an enemy from far away, and multiple times in the one turn! Of course, you need arrows for this.
">
this.shootArrowAt();
</pre>

              <a class="btn" href="#">Paste me! </a>
            </div><!--/span-->
<div class="span4">
              <h3>Drink Potion</h3>
            
<pre title="-------------------------
What it does: 
-------------------------

The first line of this command makes you ('this') drink a potion, healing 30 of your health points

-------------------------
How to Use it:
-------------------------

Its a good idea to drink some potions when your health dips too low. Remember, you can do this multiple times in one turn!
">this.drinkPotion();
</pre>
              <a class="btn" href="#">Paste me! </a>
            </div><!--/span-->
          </div><!--/row-->

</div>
</div>
</br>
</div>
<div id="tabs-3">
<h1>Game Guide</h1>
<br>
<ol>
<li><a href="#S1">Introduction</a></li>
<li><a href="#S2">Game Basics</a></li>
<li><a href="#S3">Coding Basics</a></li>
<li><a href="#S4">Return Values</a></li>
<li><a href="#S5">'If' Statements</a></li>
<li><a href="#S6">Arrays</a></li>
<li><a href="#S7">The 'Directions' array</a></li>
<li><a href="#S8">'For' Loops</a></li>
<li><a href="#S9">'While' Loops</a></li>
<li><a href="#S10">Method List</a></li>
<li><a href="#S11">Attribute List</a></li>
<li><a href="#S12">Object List</a></li>
<li><a href="#S13">Tips</a></li>
</ol>
<br>
<h3 id="S1">Introduction</h3>
Welcome to JSRogue! This is a roguelike game where your objective is to descend to the bottom of the dungeon and steal a chest of treasure. 
Many enemies will try to cut your quest short, but fortunately the dungeon is scattered with items you can use to help you on your way. 
<br><br>
The unique aspect of JSRogue is that you don't control your character by pressing keys or clicking the mouse - you write javascript code which
then controls your character! Hopefully the game serves as a fun way for you to learn some javascript and fundamental programming concepts. Before playing the game, you should read the rest of this guide so you can start writing some code.

<h3 id="S2">Game Basics</h3>
Playing the game involves writing code in the Text-Area of the code section under the 'Code' tab. Then go the the 'Game' tab and press a button. If you wrote correct code for making your character perform some action it should be performed. To help you start writing code I've provided some pre-made code snippets in the section underneath the text area in the 'Code' tab. To use them simply click on the part of the text area where you want the pre-written code placed, then press the 'paste me' button underneath the code snippet you want to use a that point. You should also mouse over the code snippets to read a detailed description of what they do. Note that your code is saved automatically, though your game progress is not: the former is much more imortant than the latter!
<br><br>
You can look at different parts of the current level while playing by clicking and dragging the play area left or right. Also, there is a secondary coding area underneath the play-area - you can code there if you don't want to click away from the play-area, but the main code-tab has the pre-written code snippets.
<h3 id="S3">Coding Basics</h3>

JSRogue is turn based, and each time you perform an action by pressing any key on the game page after writing correct code, all the lines of 
code you've entered into the text area will be executed, starting from the top and ending at the bottom.
<br><br>
But how do you write this code? As a simple example, consider the following code-snippet which maker your character move one step north:
<br><br>
<pre>this.step('N')</pre>
<br>
What exactly is going on here? First of all, we begin by referring to the player character by using the keyword <b>'this'</b>. Now, the player
character is a JavaScript object, and has both a selection of <b>attributes</b> we can access, examine and modify, and <b>methods</b> we can use to perform some action. You can think of attributes as properties of an object, such as its height or weight, and methods as actions associated with the object. The way we access an object's properties and methods is by referring to the object (in this case using the 'this'
keyword), then placing a full-stop after this reference (so we now have 'this.') and then referring to the property or the method we want to 
access after the full stop (which gets us 'this.step'). At this stage we now have a reference to the 'step' method of the player character object, but that isn't sufficient to actually step somewhere. We don't want to simply refer to this method - we want to use it! To do so, we
must place a pair of brackets after our reference to the method, which gets us 'this.step()'. With some methods this is all we need to do; however, we cannot simply step - we must step in a direction. This method, like many others, requires us to supply a <b>parameter</b> between the braces, in this case a direction. The method is such that it recognises 'N' as north, so we place it between the braces, remembering to keep the speech marks and case, finally getting us 'this.step('N')', the code we started with. This pattern is central to the code you will write to control your character.


<h3 id="S4">Return values</h3>

Consider the following code snippet:
<br><br>
<pre>var strikeCheck = this.watchForStrike()</pre>
<br>
By now it should be clear what is going on to the right of the '=' sign in the code above: we are executing the 'watchForStrike' method of 'this'. It might also be apparent what 'watchForStrike' does: it checks if the player character is currently facing an incoming strike. But what's happening to the left of the '=' sign? What we're doing is assigning the <b>return value</b> of the execution of the watchForStrike
method to the variable 'strikeCheck'. If the player is about to be hit, strikeCheck will hold the value true, otherwise it will hold the value
false. We can then use this variable in the rest of our code.

Note: the name of the vaiable is arbritrary, and you can use whater you find convenient.

<h3 id="S5">'If' Statements</h3>

One such use of a return value stored in a variable is to decide what portion of the rest of our code should be executed. In Javascript, just as in many other programming langauges such as C, we can do this by means of an 'If' statement. This is illustrated in the following example:
<br><br>
<pre>var strikeCheck = this.watchForStrike()
if (strikeCheck)
{

}
</pre>
As before we store the return value of the call of watchForStrike in strikeCheck. But this time we actually use the variable for something - to check if we should execute some other instructions between the curly braces. We do this by placing the variable to be evaluated as true or false in the brackets after the 'if'. No intstructions are present in this example between the curly brackets, but if we, for instance, placed
'this.step('N')' between the braces, this line would be executed if the value of strikeCheck was true: that is, if the player was about to be struck. Multiple lines can be placed between the braces, and any code below the braces is executed after that inside the braces is. Otherwise, if strikeCheck is false, the code between the braces is skipped and the code after the braces, if present, is executed.
<br>
<h3 id="S6">Arrays</h3>
Some method calls return a special typr of object: <b>arrays</b>. Any array is a container object which keeps other objects in a certain order. Consider the following example:
 <br><br>
<pre>var enemies = this.lookForEnemies();
if(enemies.length>0)
{
var firstEnemy = enemies[0]
}
</pre>
<br>
In this first line we call the method lookForEnemies, which returns an array containing references to all the enemies, which we store in the variable 'enemies'. All arrays have a length attribute, so we can check if we've seen an enemy by checking if the length of the array stored in 'enemies' is greater than 0, which is what we do between the brackets after the 'if'. If that is true, then, as pointed out above, the code between the curly brackets will be executed. In that case we will likely want to do something to one of the enemies we seen, so we get a reference to the first enemy seen and store it in 'firstEnemy'. We do this by accessing the first object in enemies, which we do by placing square brackets after the 'enemies' variable, enclosing the position of its first element. Positions are counted from 0, so to get the first element we put 0 between the square brackets.

Though it is not included in the example, at that point we could use the variable 'firstEnemy' to do something to the first enemy we seen. We could pass it as a parameter to a method which makes the player character step towards the enemy, or shoot an arrow at it, for instance.
<br>
<h3 id="S7">The 'Directions' array</h3>
A premade array is provided for you to use in the form of the 'Directions' object, referred to as Game.directions. This is best used with repeatedely performing an action which takes a direction as input, but where you don't want to repeat the code with different direction parameters. The example in the next section illustrates this.
<br>
<h3 id="S8">'For' Loops</h3>
We might want to check what spaces next to us are free, so that, e.g., we can move there (to dodge an enemy attack, for instance). We could do this by putting 'this.canMove('N')', 'this.canMove('S')' etc. on seperate lines. But this is very clumsy. It is better to use the following idiom:
 <br><br>
<pre>for (direction in Game.directions)
{
if (this.canMove(direction))
 {

 }
}
</pre>
The purpose of the outer 'for' statement followed by brackets and outer curly braces is to execute the code enclosed by the outer curly brackets repeatedely with a different direction value assigned to the variable 'direction' from the Game.directions array each time. This is done as many times as there are directions in Game.directions. To illustrate how to use the 'direction' variable, I have placed some inner code which checks if we can movde in the currently selected direction from Game.directions. You could place some code in the inner curly brackets which would be executed if that direction was free to move in. After the code has been executed with every different direction value in the Game.directions array, the rest of the code below is executed.
<br><br>
Note: The use of the variable name 'direction' is arbritrary - we could just as well have written 'for (blah in Game.directions)' instead, and use 'blah' as a variable.
<br><br>
To see a for loop used to execute a line of code a defined amount of times, consider the following code:
<br>
<pre>for (counter = 0; counter < 3; counter++)
{
this.drinkPotion()
}
</pre>
Before the first semicolon in the brackets after the 'for' we define a variable 'counter' and assign it the value 0. Between the first and second semicolon we say that we should stop executing the code in the curly braces once 'counter' stops being less than 3, while the code between the last semicolon and brackets means that each time we execute the code between the curly braces, we should increment 'counter': add one to it. This has the effect that we perform the code between the curly brackets 3 times, so we drink 3 potions. The code is executed once with 'counter' having a value of 0, then again with a value of 1, then 2, then it stops when the value becomes 3. As an aside, we could have used 'counter' as a variable within the code in the curly braces, and this is sometimes very usefull, but not neccessary in this example
<br>
<h3 id="S9">'While' Loops</h3>
'While' loops are similar to 'for' loops in that they can be used to execute a section of code repeatedely. Specifically, they can be used to execute a section of code until a pre-defined condition is met. Consider the following example:
<br><br>
<pre>while (this.currHealth<500)
{
this.drinkPotion()
}
</pre>
The code between the curly braces in this example will be executed until the statement 'this.currHealth<500' stops being true: that is, until the players current health exceeds 499.
<br><br>
<h3 id="S10">Method List</h3>
<br>
Note: You can can only perform one of the following actions a turn: moving, physically attacking an enemy, raising your shield. Firing arrows, quaffing potions, looking for enemies and so on can be performed as many times as you wish.
<br><br>
<h5>this.exploreMap()</h5>
Function: This will move you towards the centre of each room in the map, one step each turn. After you've used this to go to the centre of each room, executing it will do nothing.
<br><br>
Parameters: None.
<br><br>
<h5>this.isLevelExplored()</h5>
Function: This returns true if you have used the exploreLevel method to explore every room in the level; false otherwise.
<br><br>
Parameters: None.
<br><br>
<h5>this.drinkPotion()</h5>
Function: This drinks a potion, healing 30 of your hit points.
<br><br>
Parameters: None. 
<br><br>
<h5>this.shootArrowAt()</h5>
Function: This shoots an arrow at an enemy supplied as a parameter.
<br><br>
Parameters: The enemy to be shot. 
<br><br>
<h5>this.descendSpottedStairs()</h5>
Function: This will move you towards a set of stairs you've seen, and descend them once you're standing on them.
<br><br>
Parameters: None.
<br><br>
<h5>this.watchForStrike()</h5>
Function: This returns true if a minotaur is about to strike you with his club; false otherwise.
<br><br>
Parameters: None.
<br><br>
<h5>this.raiseShield()</h5>
Function: This raises your shield to reduce the damage you take from incoming attacks for the next turn. If you have a mithril shield, you will also deflect arrows back at the enemy who shot them.
<br><br>
Parameters: None.
<br><br>
<h5>this.canMove()</h5>
Function: This checks if you can move in the direction passed as parameter next turn.
<br><br>
Parameters: A direction taken from the Game.directions object, or supplied directly as one of: 'N','NE','E','SE','S','SW','W','NW'. Remember to use the speech marks if supplying the direction directly.
<br><br>
<h5>this.step()</h5>
Function: This attempts to move one step in a direction supplied as a parameter.
<br><br>
Parameters: A direction taken from the Game.directions object, or supplied directly as one of: 'N','NE','E','SE','S','SW','W','NW'. Remember to use the speech marks if supplying the direction directly.
<br><br>
<h5>this.pickUp()</h5>
Function: This picks up any item lying on the ground. If the item is worse than one you already own, you will leave it.
<br><br>
Parameters: None.
<br><br>
<h5>this.lookForEnemies()</h5>
Function: This returns an array containing references to all enemies you've seen.
<br><br>
Parameters: You can supply an optional parameter consisting of the name of the type of enemy you want to look for. For instance, if this.lookForEnemies('Feral Dog') was executed, all enemies which were not Feral Dogs would be absent from the returned array. Remember to preserve the case and speech marks.
<br><br>
<h5>this.lookForItems()</h5>
Function: This returns an array containing references to all items you've seen.
<br><br>
Parameters: You can supply an optional parameter consisting of the name of the type of item you want to look for. For instance, if this.lookForEnemies('Potions') was executed, all items which were not Potions would be absent from the returned array. Remember to preserve the case and speech marks.
<br><br>

<h3 id="S11">Attribute List</h3>
<br>
<h5>this.currHealth</h5>
Is a number correspending to you character's current amount of health points.
<br><br>
<h5>this.Potions</h5>
Is a number correspending to you character's current amount of Potions.
<br><br>
<h5>this.Arrows</h5>
Is a number correspending to you character's current amount of Arrows.
<br><br>
<h3 id="S12">Object List</h3>
<br>
Note: If you want to us the name of one of these objects as a parameter to a method call, make sure to use their name specified here, preserving speechmarks and case.
<br><br>
<h4>Miscellanea</h4>
<br>
<h5>'Target'</h5>
<img src="{% static 'img/target.png' %}"></img>
<br>
Signifies the direction in which an adjacent enemy is looking. If they are looking away, you can sneak past them.
<br>
<br>
<h5>'Player'</h5>
<img src="{% static 'img/Player.png' %}"></img>
<br>
This is you!
<br>
<br>
<h5>'Stairs'</h5>
<img src="{% static 'img/Stairs.png' %}"></img>
<br>
Descend these to progress to the next level. You can do so using the descendSpottedStairs method.
<br>
<br>
<h5>'Door'</h5>
<img src="{% static 'img/Door.png' %}"></img>
<br>
Walk into these to open them.
<br>
<br>
<h4>Items</h4>
<br>
<h5>'Potions'</h5>
<img src="{% static 'img/Potions.png' %}"></img>
<br>
Pick these up to collect them. Drink them using the drinkPotion method if your health runs low. You can do this as many times a turn as you like, provided you have the potions to spare.
<br>
<br>
<h5>'Arrows'</h5>
<img src="{% static 'img/Arrows.png' %}"></img>
<br>
Pick these up to collect them. You can shoot them at enemies as many times a turn as you like, provided you have the arrows to spare.
<br>
<br>
<h5>'Treasure'</h5>
<img src="{% static 'img/Treasure.png' %}"></img>
<br>
Pick this up to win the game!
<br>
<br>
<h5>'Iron Sword'</h5>
<img src="{% static 'img/IronSword.png' %}""></img>
<br>
Pick it up to improve your melee attack.
<br>
<br>
<h5>'Mithril Sword'</h5>
<img src="{% static 'img/MithrilSword.png' %}"></img>
<br>
Pick it up to improve your melee attack even further!
<br>
<br>
<h5>'Copper Shield'</h5>
<img src="{% static 'img/CopperShield.png' %}"></img>
<br>
Pick it up to improve the effectiveness of your raised shield.
<br>
<br>
<h5>'Mithril Shield'</h5>
<img src="{% static 'img/MithrilShield.png' %}"></img>
<br>
Pick it up to improve the effectiveness of your raised shield even further, and for your raised shield to deflect incoming arrows back at your enemies!
<br>
<br>
<h5>'Long Bow'</h5>
<img src="{% static 'img/LongBow.png' %}"></img>
<br>
Pick it up to improve the effectiveness of your arrow damage.
<br>
<br>
<h5>'Mithril Bow'</h5>
<img src="{% static 'img/MithrilBow.png' %}"></img>
<br>
Pick it up to improve the effectiveness of your arrow damage even further!
<br>
<br>
<h4>Enemies</h4>
<br>
<h5>'Feral Dog'</h5>
<img src="{% static 'img/FeralDog.png' %}"></img>
<br>
The weakest enemy in the game, but they come in packs.
<br>
<br>
<h5>'Orc'</h5>
<img src="{% static 'img/Orc.png' %}"></img>
<br>
A moderately strong melee fighter.
<br>
<br>
<h5>'Archer'</h5>
<img src="{% static 'img/Archer.png' %}"></img>
<br>
This enemy will shoot 10 arrows at you, one a turn, and then melee you.
<br>
<br>
<h5>'Orc Warrior'</h5>
<img src="{% static 'img/OrcWarrior.png' %}"></img>
<br>
This Orc fights with a sword and mithril shield at the same time, so has a high defense and can bounce arrows you shoot back at you.
<br>
<br>
<h5>'Minotaur'</h5>
<img src="{% static 'img/Minotaur.png' %}"></img>
<br>
This is the strongest enemy you'll face in the game. Fortunately, it has a weakness. Minotaurs need to lift their club to strike you. You can check for this in your code by calling watchForStrike; if you're about to be struck, you can then dodge by stepping somewhere else.
<br>
<br>
<h3 id="S13">Tips</h3>
<ul>
<li>Build your code incrementally. That way, if you make a mistake and your code no-longer runs, you know the problem is with the last piece if code you wrote. Don't try to write all the behaviour for your character at once - you don't need to.</li>
<li>If you want to stop code from executing while you type, simply type a line of gibberish to induce an error in the code, and delete it when you wnt to execute the code again.</li>
<li>Remeber to use speech marks to encolse the name of an object or direction you want to  use as a parameter, and to use the correct case. Variables, on the other hand, aren't enclosed in speechmarks.</li>
<li>Use double backspaces in your code - // - to preface comments. The game won't attempt to execute these, so you can use them to write handy notes. Or to temporarily negate lines of code you don't want to delete.</li>
<li>Play around with the code! The game is deliberately farely short, so you don't lose to much progress if you die because of this</li>
<li>Have Fun!</li>
</ul>
</div>
</div>

</div>

<!--adapted slightly from http://jsfiddle.net/NaHTw/4/-->
<script>
$(function() {
  $("a.btn").click(function() {
    var inputArea = $("#inputArea");
    var caretPos = document.getElementById("inputArea").selectionStart;
    var textAreaTxt = $("#inputArea").val();
    var txtToAdd = $(this).prev().html(); 
    $("#inputArea").val(textAreaTxt.substring(0, caretPos) + txtToAdd + textAreaTxt.substring(caretPos) );
  });
});
$(function() {
$('#inputArea').change(function(){
    var theCode = $(this).val();
    $.get('/save_code/', {code: theCode});
});
});
$('#inputArea').bind('keypress keyup blur', function() {
    $('#auxArea').val($(this).val());
});
$('#auxArea').bind('keypress keyup blur', function() {
    $('#inputArea').val($(this).val());
});
 $(function() {
$( "#accordion" ).accordion({heightStyle: "content"});
});
$( "#tabs" ).tabs();
</script>
{% endblock %}






